<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>dúbooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/dubooks_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family-Work+Sans:300,400,700,900&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng|Noto+Sans+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">  

</head>
<body>
    <div class="header">
        <div class="title">
            读<br>Dubooks</div>
        <div class="subtitle"><h2>Custom Study Guides for Reading Chinese</h2></div>
    </div class="header">
<div id="app">
    <!-- <input type="text" v-model="newListTitle" placeholder="title"><br> -->
        {% csrf_token %}
    <textarea v-model="input_text" type="text" name="input" placeholder="paste text here"></textarea>

    <div class="traditional-toggle">
        <input type="checkbox" v-on:click.prevent="toggleShowTraditional" id="toggle-traditional" class="list-item"><label for="toggle-traditional">
            <span class="custom-checkbox"></span>
            Show traditional characters</label><br>
    </div>

    <button v-on:click.prevent="getWords" v-if="submitted === false" name="parse_text">Get Study Guide</button>
    <div class="button-panel" v-if="submitted"> 
        <button @click.prevent="toggleSelection(1)">HSK 1</button>
        <button @click.prevent="toggleSelection(2)">HSK 2</button>
        <button @click.prevent="toggleSelection(3)">HSK 3</button>
        <button @click.prevent="toggleSelection(4)">HSK 4</button>
        <button @click.prevent="toggleSelection(5)">HSK 5</button>
        <button @click.prevent="toggleSelection(6)">HSK 6</button>
    </div>

    <table v-show="submitted">
        <tr>
            <th class="remove"></th>
            <th class="simplified">简体</th>
            <th class="traditional" v-if="showTraditional">繁体</th>
            <th class="pinyin">Pinyin</th>
            <th class="english">English</th>
            <th class="hsk">HSK</th>
        </tr>
        <tr v-for="word in newList" :key="word.id" class="list-item">
            <td class="remove">
                <input type="checkbox" v-bind:name="word.hsk" id="list-item" class="list-item" v-bind:word="word">
                    <label for="list-item">
                        <span class="custom-checkbox"></span>
                    </label> 
            </td>
            <td class="simplified">[[ word.simplified ]]</td>
            <td class="traditional" v-if="showTraditional">[[ word.traditional ]]</td>
            <td class="pinyin">[[ word.pinyin ]]</td>
            <td class="english">[[ word.english ]]</td>
            <td class="hsk">[[ word.hsk ]]</td>
        </tr>
    </table>
    <div class="bottom-panel" v-if="submitted">
        <button v:on-click.prevent="deleteSelected">Delete Selected</button>
        <button v:on-click.prevent="saveList">Save</button>
        <button v:on-click.prevent="printList">Print</button>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script>


let app = new Vue({
    el: '#app',
    delimiters: ['[[',']]'],
    data: {
        csrf_token: "",
        input_text: "",
        submitted: false,
        newList: [],
        newListTitle: [],
        showTraditional: false,
        selected: [];
        allSelected: {1: false, 2: false, 3: false, 4: false, 5: false, 6: false},
        },

    methods: {
        getWords() {
            console.log(this.csrf_token)
            axios({
                method: "post",
                url: "/",
                data: {
                    "input_text": this.input_text,

                },
                headers: {
                    "X-CSRFToken": this.csrf_token
                }
            }).then(response => {
                this.newList = response.data.data
                console.log(response.data.data)
                this.submitted = true
            });
    
        },

        toggleShowTraditional() {
            this.showTraditional = !this.showTraditional
        },

        toggleSelection(level) {
            var items = document.getElementsByName(level);
            console.log(items)
            if (this.allSelected[level] === false) {
                for (var i = 0; i < items.length; i++) {
                    items[i].checked = true;
                    this.allSelected[level] = true
                    // console.log(this.allSelected[level])
                } 
            } else {
                for (var i = 0; i < items.length; i++) {
                    items[i].checked = false;
                    this.allSelected[level] = false
                    // console.log(this.allSelected[level])
                }
            }
        },

        deleteSelected() {
            var items = document.getElementsByClassName("list-item");
            for (var i = 0; i < items.length; i++) {
                if (items[i].checked === true) {
                    console.log(item)
                }
            }
        },
    			

        // saveList() {
        //     axios({
        //         method: "post",
        //         url: ""
        //     })
        // },



    
        // getUserList() {
        //     axios({
        //         method: "get",
        //         url: "api/v1/users/"
        //     }).then(response => this.users = response.data)
            
        // },
        // createList() {
        //     axios({
        //         method: "post",
        //         url: "/api/v1/",
        //         data: this.input,
        //         headers: {
        //             "X-CSRFToken": this.csrf_token
        //             }

        //         this.getWords
        //     }).catch(error => {
        //         let message = error.response.statusText;
        //         for (let key in error.response.data) {
        //             message += `\n${key}: $
        //             {error.response.data[key]}`;
        //         };
        //         alert(message);
        //     })
        // }
    },   

    mounted: function() {
        this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value;
    }
})
</script>
</body>
</html>