<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>dúbooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/dubooks_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family-Work+Sans:300,400,700,900&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng|Noto+Sans+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">  

</head>
<body>
    <div class="header">
        <div class="title">
            读<br>Dubooks</div>
        <div class="subtitle"><h2>Custom Study Guides for Reading Chinese</h2></div>
    </div class="header">
<div id="app">
    <!-- <input type="text" v-model="newListTitle" placeholder="title"><br> -->
        {% csrf_token %}
    <textarea v-model="input_text" type="text" name="input" placeholder="paste text here"></textarea>

    <div class="traditional-toggle">
        <input type="checkbox" v-on:click.prevent="toggleShowTraditional" id="toggle-traditional"><label for="toggle-traditional">
            <span class="custom-checkbox"></span>
        </label>
            Show traditional characters<br>
    </div>

    <div class="button-panel"> 
    <button v-on:click.prevent="getWords" name="parse_text">Get Study Guide</button>
    </div>

    <table v-if="submitted">
        <tr>
            <th class="remove"></th>
            <th class="simplified">简体</th>
            <th class="traditional" v-if="showTraditional">繁体</th>
            <th class="pinyin">Pinyin</th>
            <th class="english">English</th>
            <th class="hsk">HSK</th>
        </tr>
        <tr v-for="word in newList" :key="word.id">
        <td class="remove" id="checkbox">
            <input type="checkbox" id="list_item">
                <label for="list_item">
                    <span class="custom-checkbox"></span>
                </label>  
        </td>
        <td class="simplified">[[ word.simplified ]]</td>
        <td class="traditional" v-if="showTraditional">[[ word.traditional ]]</td>
        <td class="pinyin">[[ word.pinyin ]]</td>
        <td class="english">[[ word.english ]]</td>
        <td class="hsk">[[ word.hsk ]]</td>
        </label>
    </table>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script>

let app = new Vue({
    el: '#app',
    delimiters: ['[[',']]'],
    data: {
        csrf_token: "",
        input_text: "",
        submitted: false,
        newList: [],
        newListTitle: [],
        showTraditional: false,
        toDelete: []
        },
    methods: {
        getWords() {
            console.log(this.csrf_token)
            axios({
                method: "post",
                url: "/",
                data: {
                    "input_text": this.input_text,

                },
                headers: {
                    "X-CSRFToken": this.csrf_token
                }
            }).then(response => {
                this.newList = response.data.data
                console.log(response.data.data)
                this.submitted = true
            });
    
        },
        toggleShowTraditional() {
            this.showTraditional = !this.showTraditional
        },
        saveList() {
            axios({
                method: "post",
                url: ""
            })
        },

        deleteSelected() {
            for (item in newList) {
                if (item in newList)
            }
        }
        // getUserList() {
        //     axios({
        //         method: "get",
        //         url: "api/v1/users/"
        //     }).then(response => this.users = response.data)
            
        // },
        // createList() {
        //     axios({
        //         method: "post",
        //         url: "/api/v1/",
        //         data: this.input,
        //         headers: {
        //             "X-CSRFToken": this.csrf_token
        //             }

        //         this.getWords
        //     }).catch(error => {
        //         let message = error.response.statusText;
        //         for (let key in error.response.data) {
        //             message += `\n${key}: $
        //             {error.response.data[key]}`;
        //         };
        //         alert(message);
        //     })
        // }
    },   

    mounted: function() {
        this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value;
    }
})
</script>
</body>
</html>