:root {
    --clr-primary: #0099ff;
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
}

*
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}

.title {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-left: 18px;
       
}
.chinese-title {
    font-family: "Ma Shan Zheng", cursive;
    font-size: 4rem;

}

.subtitle { 
    margin: auto;
    padding-right: 200px;
    text-align: right;
    font-size: 1.25rem;
}


table {
    display: flex;
    flex-flow: column nowrap;
    font-size: .8rem;
    width: 60%;
    margin: 0;
    line-height: 1.5;
    border-bottom: 1px solid #d0d0d0;
    flex: 1 1 auto;
}

html {
    box-sizing: border-box;
}

th {
    font-weight: 400;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    border: 2px solid var(--clr-primary);
    /* padding: .5rem; */
}

tr > th {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    white-space: nowrap;
}
  
tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

td {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    white-space: nowrap;
    border-bottom: 1px solid #d0d0d0;
}
.simplified, .traditional {
    word-break: keep-all
}
.english {
    flex-grow: 3;
}
.remove {
    align-items: center;
}

tr:nth-of-type(even) {
    background-color: #f2f2f2;
}
  
tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.header {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    margin: auto;
    
    
}


body {
    display: flex;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    align-items: center;
    flex-direction: column;
    background: var(--clr-light);
}

#app {
    background-color: var(--clr-light);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

button {
    width: 200px;
    margin: 20px;
    background-color: var(--clr-primary);
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    outline: 0;
    font-size: 1.25em;
}


.button-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.button-panel > button {
    display: flex;
    flex-grow: 1;
    width: 60%;
}

.traditional-toggle {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.remove {
    padding-left: 20px;
}
.active {
    background-color: var(--clr-light);
    color: var(--clr-primary);
    outline: 0;
    font-size: 1.25em;
}

.hsk {
    justify-content: right;
    padding-right: 20px;
}

span.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid var(--clr-primary);
    border-radius: 50%;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

/* label:hover .custom-checkbox, [type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
    color: var(--clr-primary);
} */

label input:checked ~ .custom-checkbox {
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0px 2px white;
}

/* label::after {
    content: "";
    left: 1.5em;
    right: 0;
    top: 50%;
    height: 3px;
    background: var(--clr-primary);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300mx ease-in-out;
} */

.list-item::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    bottom: -.5m;
    background: var(--clr-primary);
    opacity: 0.1;
}

label {
    display: flex-inline;
    align-items: center;
    position: relative;
}

.list-item:hover .custom-checkbox, [type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.2);
    color: var(--clr-primary);
}

.list-item {
    position: relative;
}

[type="checkbox"]:checked + label {
    transform: scaleX(1);
    transform-origin: left;
}

textarea {
    width: 60%;
    height: 200px;
    resize: none;
    margin: auto;
    margin-bottom: 30px;
}

.bottom-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 768px) {

    .header, #app, footer {
      /* margin: 10px auto; */
      width: 100%;
      /* padding: 20px;
      border-radius: 10px; */
    }

@media (min-width: 1024px) {
  
    .header, #app, footer {
      width: 100%;
      /* margin: 10px auto; */
      /* padding: 20px;
      border-radius: 10px; */
    }
}